*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

}

header {
    z-index: 10;
    width: 980px;
    margin: auto;
    position: relative;
}

h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #000000;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.button_menu {
    display: none;
}
  
  
/* Maquetación INDEX */ 

#menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    z-index: 20;
    padding-top: 54px;
}

#p1 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

#p2 {
    font-size: 20px;
    color: #DA605A;
    text-decoration: underline;
    padding-bottom: 10px;
}

#p3 {
    font-size: 16px;
    font-weight: 300;
}

#p4 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0px;
}

.list_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}


.list_menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}


.list_menu li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    color: black;
}

.open-button {
    cursor: pointer;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

#underline {
    text-decoration: underline #DA605A;
}

#underline_footer {
    text-decoration: underline white;
}

/*
#underline_profile {
    color: #DA605A;
    fill: #DA605A;
}
*/

.form-popup {
    position: absolute;
    right: 0;
    top: 90px;
    width: 400px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 40px;    

    display: none;
    z-index: 40;
    overflow: hidden;
}
  
.form-container {
    padding: 20px;
}

.btn_cancel {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.btn_cancel:hover{
    color: #DA605A;
}

#left_itm {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#center_itm {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

#center_itm .btn_simple{
    padding-top: 20px;
}

#cancel_contain{
    position: relative;
}

label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
}

.form-container p label{
    color: black;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border: 2px solid rgba(55, 55, 55, 0.19);
    box-sizing: border-box;
    border-radius: 40px;
    background: #ffffff;
}
  


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color:rgba(218, 96, 90, 0.2);
    border: 2px solid #DA605A;
    
    outline: none;
}
  

 .form-container .btn {
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

::placeholder {
    color: gray;
}

.list_menu li a:hover,
.list_menu li svg path:hover {
    color: #DA605A;
    fill: #DA605A;
}
span{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.btn_simple {
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: tomato;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.btn_simple:hover,
.btn_simple:focus {
    background-size: 100% 2px; 
}

.form-popup p {
    padding: 30px;
    color: red;
    font-size: 12px;
}

#form_section p {
    color: red;
    font-size: 12px;
}

/* Maquetación CABECERA */

.cabecera {
    min-height: 100vh;
    width: 100%;
}

.cabecera img {
    z-index: -3;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
}

.caja_blur {
    width: 980px;
    margin: auto;
}  
    
.blur {
    position: absolute;
    padding: 20px;
    width: 35%;
    top: 20%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    margin-left: auto;
}


.blur h1,
.blur p{
    padding: 30px;
}

.blur h1 {
    padding-bottom: 10px;
}

.blur p{
    padding-top: 0;
    font-weight: 300;

}

.btn-double {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    width: 100%;
}

.btn_regular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    margin-bottom: 20px;

    width: 210px;
    height: 44px;

    background-color: transparent;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.btn_regular:hover,
.btn_heart:hover {
    background-color: #DA605A;
    border: #DA605A;
}

.btn_heart {
    background-color: transparent;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Maquetación SECCIONES */

section {
    width: 980px;
    margin: auto;
    position: relative;
    padding-bottom: 100px;
}

.gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#gallery_1 .gallery figure {
    width: 30%;
    padding-bottom: 0;
}

.gallery_btn .gallery figure {
    width: 23%;
    padding-bottom: 0;
}

.gallery figure {
    padding-bottom: 65px;
}


.gallery figure img {
    border-radius: 40px;
    width: 100%;
    object-fit: cover;
    
}

.gallery img:hover {
    width: 100%;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}


.gallery figure img:hover{
    transform: scale(1.3);
}

figcaption {
    width: 100%;
}

.gallery h5{
    padding-top: 22px;
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.section_subtitle h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 42px;
    text-decoration: underline #DA605A;
}

.section_subtitle .columna {
    padding-top: 0;
    padding-bottom: 0;
}

.section_subtitle {
    padding-bottom: 100px;
}

.section_subtitle #caja_about p {
    padding-bottom: 0;
}


.gallery_btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


#section_btn .gallery {
    padding-bottom: 45px;
}

#section_img_center .blur {
    left: 5%;
    top: 8%;
}

#section_img_center img {
    width: 100%;
    border-radius: 40px;

}


#section_subtitle #wrap {
    display: block;
}

.discover {
    display: flex;
    flex-wrap: wrap;
}

#caja_about div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

#caja_about div div {
    width: 100%;
    padding-right: 30px;
}


#caja_about h2 {
    padding-bottom: 10px;
}

#caja_about p {
    padding-bottom: 80px;
}

#caja_about img {
    width: 50%;
    border-radius: 40px;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna {
    padding: 40px 0;
}

.contenido .texto {
    padding-bottom: 10px;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;

    color: #000000;
}

.total {
    padding-bottom: 42px;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #DA605A;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

#menu_footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#menu_footer .list_menu{
    padding-top: 10px;
    padding-bottom: 44px;
}

#menu_footer .logo svg path,
#menu_footer .list_menu li a,
#menu_footer .list_menu ul li svg path {
    color: white;
    fill: white;
}

#menu_footer  .list_menu li a:hover,
#menu_footer .list_menu ul li svg path:hover,
#footer_visit a:hover,
#footer_text a:hover {
    color: black;
    fill: black;
}



#footer_text {
    width: 325px;
}

#footer_text a,
#footer_visit p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: white;
}

#copy_text {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    color: white;
    font-weight: 200;
}


#footer_visit p {
    padding-right:10px;
    color: white;
}
#footer_visit a {
    color: white;
}

#footer_visit {
    padding-bottom: 34px;
}


.section_header {
    padding-top: 162px ;
}

.section_header h1 {
    padding-bottom: 72px;
}

.section_header .gallery_btn figure {
    padding-bottom: 65px;
}

/* Maquetación CREATE_ACCOUNT.HTML */

#form_section .form-container {
    padding: 53px 250px;
}

#form_section .form-container #center_itm img{
    padding-top: 53px;
}

#form_section h1 {
    padding-bottom: 0;
}



/*Carousel*/

#carousel {
    width: 65%;
}

#caja_article {
    display: flex; 
    flex-wrap: wrap;
}

#carousel_text {
   width: 35%; 
   padding-left: 20px;
    
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

/* Maquetación SHOP.html */

#gallery_shop .gallery figure {
    width: 30%;
}

/* Maquetación ABOUT.html */

#section_about figure,
#gallery_shop .gallery  {
    padding-bottom: 0;
}


/* Maquetación de la MEDIA QUERY */

@media (max-width: 1200px) {
    
    .blur {
        width: 40%;
    }
}

@media (max-width: 1000px) {

    header,
    section{
        width: 90vw;
    }

    .blur {
        width: 85%;
    }


    #section_img_center img {
        width: 100%;
    }

    #gallery_1 .gallery {
        flex-wrap: nowrap;
    }

    .gallery_btn .gallery {
        flex-wrap: wrap;
    }

     .gallery figure {
        width: 50%;
     }

     .gallery figure img {
        height: 400px;
        padding: 20px;
     }


    /*.gallery figure img {
        height: 50%;
        padding: 0px 10px;
    }*/

    .gallery figcaption {
        padding: 0px 10px;
    }

    #about_img {
        padding-bottom: 0px;
        width: 100%;
    }

    .section_header .gallery_btn figure {
        padding-bottom: 0px;
    }

    #caja_about {
        flex-wrap: nowrap;
    }

    .discover, #caja_about div {
        width: 100%;
    }

    .discover button {
        margin-left: auto;
        margin-right: auto;
    }

    /*Form*/

    #form_section .form-container {
        padding: 23px 150px;
    }   

    .caja_blur {
        width: 90vw;
    }  
        

     .gallery figure img:hover{
        transform: none;
    }

    .gallery h5 {
        padding-top: 0;
    }


@media (max-width: 760px) {

    h5 {
        font-size: 18px;
    }

    p {
        line-height: 24px;
        font-size: 16px;
    }

    .blur h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .gallery figure img {
        height: 300px;
     }

     #gallery_1 .gallery {
        flex-wrap: wrap;
    }

     #caja_about {
        flex-wrap: wrap;
    }

    #caja_about img {
        width: 100%;
    }

    #discover button, #discover img {
        margin-left: auto;
        margin-right: auto;
    }

    #gallery_1 .gallery figure:last-child {
        width: 100%;
    }
/*
     .section_subtitle h4 {
        font-size: 20px;
        line-height: 29px;
    }

    
/*
    .caja_blur {
        width: 80%;
    }  
        
    
    
    .blur {
        position: relative;
        width: 100%;
        height: 100%;
    
    }

    #caja_about div div {
        width: 100vw;
    }

    #gallery_1 .gallery figure:last-child {
        width: 100%;
    }
    


    /*Carousel*/

    /* #carousel {
        width: 100%;
    }

    #carousel_text {
        width: 100%;
        padding-top: 60px;
    }

    #carousel_text button {
        margin-top: 40px;
    }

    /*Form*/

    /* #form_section .form-container {
        padding: 23px 50px;
    }

    .shipping {
        max-width: 50%;
    }

    
*/

    @media ( max-width: 500px ) {

        h1 {
        font-size: 24px;
        line-height: 29px;
    }

    h2 {
        font-size: 24px;
        line-height: 29px;
    }

    header {
        width: 100vw;
    }

    #menu {
        flex-direction: column;
        justify-content: initial;
        position: absolute;
        z-index: 20;
        padding-top: 54px;
        align-items: center;
        left: -100%;

        background-color: #DA605A;
        width: 100%;
        height: 100vh;

        transition: 1s;
    
    }

    #menu a {
        font-size: 20px;
        
    }

    #menu .logo {
        padding-top: 20px;
    }

    #underline {
        text-decoration: underline white;
    }

    #caja_about img{
        width: 100%;
    }

    #section_img_center img {
        object-fit: cover;
        height: 400px;
        border-radius: 40px;
    }

    .list_menu {
        width: 100%;
        justify-content: center;
    }

    .list_menu ul {
        flex-direction: column;
        padding: 40px 0;
        width: 100%;
    }

    .list_menu ul li {
        padding: 25px 0;
    }

    .button_menu {
        display: flex;
        position: fixed;
        
        left: 20px;
        top: 20px;
        z-index: 90;
        
        width: 30px;
        height: 20px;
        
        background: transparent;
        outline: none;
    }

    .button_menu .linea {
        background: black;
        width: 30px;
        height: 4px;
        
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 20px;
        
        transition: transform 0.5s;
    }

    #linea1 {
        transform: translateY(-7px);
    }
    
    #linea2 {
        transform: translateY(7px);
    }

    header {
        position: fixed;
    }

    .blur {
        
        top: 35%;
    }

    .blur p {
        display: none;
        padding: 5px;
    }

    .blur h1 {
        font-size: 36px;
        padding: 5px;
        line-height: 40px;
        padding-bottom: 40px;
    }

    .gallery figure {
        width: 50%;
    }

    .gallery figcaption p {
        display: none;
    }

    #gallery_1 .gallery figure img {
        height: 200px;
     }

     .gallery_btn figure img {
         padding: 10px;
     }

     .section_header {
        padding-top: 62px ;
    }
    
    .section_header h1 {
        padding-bottom: 32px;
    }

    #footer_text {
        width: 200px;
    }
    
    }
    
}